:root {
  --completeMargin: 10px;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

input {
  background-color: transparent;
  border:none;
}

.meterHolder {
  height: 20px;
  background-color: #F4F4F4;
  width: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 30px;
}

.meter {
  background-color: rgb(192, 228, 135);
  height:100%;
  width:50%;
  transition: all 0.3s cubic-bezier(.36,-0.04,.2,1.38);
}

#root {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width:100vw;
}

.crown {
  color: rgb(207, 167, 36);
  position:relative;
  top: 0.2rem;
}

.toDoCards {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
}

.toDoCard {
  display: flex;
  flex-direction: row;  
  position:relative;
  left: 0;
  width: 600px;
  min-height: 60px;
  margin-bottom: 10px;
  scale: 1 1;  
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background-color: #F4F4F4;
  align-items: center;
}

.toDoCard.deleting {
  opacity: 0;
  height: 0;
  scale: 1 0;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.imgComplete {
  position:absolute;
  height: 83px;
  align-self: center;
  mix-blend-mode: multiply;
  opacity: 0;
  scale: 2;
  transition: 0.3s cubic-bezier(.61,.01,1,.21);
}

.complete .imgComplete {
  position:absolute;
  mix-blend-mode: multiply;
  opacity: 0.5;
  scale: 1;
}

.toDoSpacer {
  width: 260px;
  padding-right: var(--completeMargin);
  transition: all 0.3s ease-out;
  /* background-color: grey; */
}

.complete .toDoSpacer {
  padding-right: 0;
}

.toDoDesc {
  width:100%;
  opacity: 1;
  transition: all 0.3s ease;
  margin-right:10px;
  word-break: break-all; /* Force word wrap in case of a long string with no spaces */
}

.complete .toDoDesc {
  opacity: 0.5;  
  transition: all 0.3s ease-out;
  margin-right: calc(var(--completeMargin) + 10px);
}

.plusBtn {
  width: 600px;
}

input {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
}