#root {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width:100vh;
}

.toDoCard {
  display: flex;
  flex-direction: row;  
  position:relative;
  left: 0;
  width: 500px;
  height: 50px;
  margin-bottom: 10px;
  scale: 1 1;
}

.toDoDesc {
  width:100%;
}

.deleting {
  transition: all 0.3s ease-in-out;
  left: -300px;
  opacity: 0;
  height: 0;  
  margin-bottom: 0;
  scale: 1 0;
}

input {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1rem;
}